* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    opacity: 0.5;
    font-size: 100px;
    color: red;
    text-align: center;
}

body .cover {
    position: absolute;
    left: 480px;
    margin-top: 100px;
    width: 400px;
    height: 400px;
    text-align: center;
}

.cover ul {
    height: 135px;
    width: 400px;
}

.cover ul li {
    float: left;
    margin-left: 23px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    border: 1px solid #fff;
    text-align: center;
    background: green;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.cover ul li:hover {
    background: #f40;
}

.cover button {
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    text-align: center;
    background: orange;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.cover button:hover {
    background: #f40;
}

body .wrapper {
    border: 1px solid black;
    margin: 10px auto;
    width: 800px;
    height: 603px;
}

.wrapper .head {
    width: 800px;
    height: 125px;
    background: #81C0FF;
}

.wrapper .head .title {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.wrapper .head .timer {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.wrapper .ground #box {
    width: 800px;
    height: 475px;
    /*border:1px solid black;*/
}

.wrapper .ground #box li {
    width: 30px;
    height: 30px;
    border-collapse: collapse;
    border: 1px solid #999;
    float: left;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
}